body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
.header{      
    width:100%;
   height:100vh;
   text-align:center;
   background-image: url(images/donation9.jpg);
   background-repeat: no-repeat;
   background-size:cover;
   padding-top:215px;
}
.banner h1{
     color:white;
     font-weight:700;
     font-size:40px;
}
.banner p{
    color:rgb(247, 242, 242);
    font-weight:300;
}
.banner button{
   border:2px solid orange;
   padding:12px 30px;
   background-image:linear-gradient(orange,tomato);
   border-radius:10px;
   color:white;
}
.donate{
    text-align:center;
    margin-top:90px;
    padding:14px;
}
.money{
    display:flex;
    justify-content:space-evenly;
    margin-left:20%;
    margin-right:20%;
    padding:10px;
}
.amount{
    width:80px;
    height:50px;
    background-color: gray;
    border:2px solid gray;
    border-radius:5px;
    padding:15px;
}
#another{
    width:80px;
    height:50px;
    background-color:bisque;
    border:2px solid red;
    padding:15px;
    color:red;
}
.input-field{
    text-align:center;
}
.input-field input{
    width:53%;
    text-align:center;
    padding:10px;
    outline:1px 0px 0px;
    margin-bottom:20px;
}
.input-field button{
    padding:12px 40px;
    border:1px solid orange;
    border-radius:8px;
    background-color:orangered;
    color:white;
    font-weight:bold;
   font-size:16px;
}
.donate-plan{
    text-align:center;
    margin-top:80px;
    padding:10px;
}
.donate-plan h1{
    font-size:40px;
}
.types{
    display:flex;
}
.food-shelter-education{
    width:30%;
    margin:5%;
    padding:16px;
    border-radius:10px;
}
.food-shelter-education img{
  width:40px;
}
#shelter{
    background-color: rgb(97, 106, 113);
}
#education{
    background-color: aquamarine;
}
#food{
    background-color: antiquewhite;
}
.donation-part{
    display:flex;
    margin-top:100px;
    margin-bottom:80px;
}
.donation-part1{
    width:50%;
    margin-left:10%;
    padding:14px;
}
.donation-part img{
    width:85%;
}
.donation-part1 button{
    padding:14px 20px;
    background-color:orangered;
    font-size:17px;
    color:white;
    border:2px solid gray;
    border-radius:7px;
}
.updates{
    text-align:center;
}
form{
    text-align:center;
    margin-bottom:30px;
    width:60%;
    padding:3%;
    background-color: aquamarine;
    margin-left:20%;
}
.email{
    width:40%;
    padding:9px 15px;
    background-color:rgb(84, 82, 82);
    color:whitesmoke;
    font-size:17px;
    border:1px solid gray;
    border-radius:5px;
}
.submit{
    color:white;
    background-color:orangered;
    padding:12px 39px;
    border:1px solid gray;
    border-radius:4px;
}
footer{
    height:160px;
    background-color:black;
    margin-top:100px;
}
footer h2{
    color:rgb(59, 42, 11);
    text-align:center;
    padding-top:45px;
}
footer p{
    color:white;
    text-align:center;
    font-size:10px;
}