body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
.header{      
    width:100%;
   height:100vh;
   text-align:center;
   background-image: url(images/donation9.jpg);
   background-repeat: no-repeat;
   background-size:cover;
   padding-top:215px;
}
.banner h1{
     color:white;
     font-weight:700;
     font-size:40px;
}
.banner p{
    color:rgb(247, 242, 242);
    font-weight:300;
}
.banner button{
   border:2px solid orange;
   padding:12px 17px;
   background-image:linear-gradient(orange,tomato);
   border-radius:10px;
   color:white;
}
.donate{
    text-align:center;
    margin-top:90px;
    padding:14px;
}
.money{
    display:flex;
    justify-content:space-evenly;
    margin-left:20%;
    margin-right:20%;
    padding:10px;
}
.amount{
    width:80px;
    height:50px;
    background-color: gray;
    border:2px solid gray;
    border-radius:5px;
    padding:15px;
}
#another{
    width:80px;
    height:50px;
    background-color:bisque;
    border:2px solid red;
    padding:15px;
    color:red;
}
.input-field{
    text-align:center;
}
.input-field input{
    width:53%;
    text-align:center;
    padding:10px;
    outline:1px 0px 0px;
    margin-bottom:20px;
}
.input-field button{
    padding:10px 36px;
    border:1px solid orange;
    border-radius:8px;
    background-color:orangered;
    color:white;
    font-weight:bold;
   font-size:16px;
}
.donate-plan{
    text-align:center;
    margin-top:80px;
    padding:10px;
}
.donate-plan h1{
    font-size:40px;
}